@model IEnumerable<Deck>

<h1>List of Decks</h1>

<div class="container-fluid">
    @foreach (var deck in Model)
    {
        <div class="row-cols-1">
            <h3>DeckId:@deck.DeckId Title:@deck.Title</h3>
            <p>Description:@deck.Description</p>
                <div id="@("flashcardCarousel" + deck.DeckId)" class="carousel slide" data-bs-ride="carousel">
                    @{
                        FlashcardListViewModel flashcardListViewModel = new FlashcardListViewModel(deck.Flashcards, deck.DeckId);
                    }
                <partial name="_FlashcardCarousel" model="@flashcardListViewModel" />
            </div>
        </div>
    }
</div>
