@model IEnumerable<Deck>

<h1>Browse your decks!</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var deck in Model)
    {
        <div class="col">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Title:@deck.Title</h5>
                    <p class="card-text">@deck.Description</p>
                    <a class="btn btn-primary" asp-controller="Deck" asp-action="Carousel" asp-route-id="@deck.DeckId">Browse the deck</a>
                    <a class="btn btn-secondary" asp-controller="Deck" asp-action="UpdateDeck" asp-route-id="@deck.DeckId">Update the deck information</a>
                    <a class="btn btn-danger" asp-controller="Deck" asp-action="DeleteDeck" asp-route-id="@deck.DeckId">Delete the deck</a>
                </div>
            </div>
        </div>
    }
</div>
<p align="center" style="padding-top: 5vh">
    <a class="btn btn-outline-primary" asp-controller="Deck" asp-action="CreateDeck">Create New Deck</a>
</p>
