@model Deck

@section Styles{
    <link rel="stylesheet" href="~/css/style.css" />
}

<section class="deck-form-container">
    <h1 class="fs-3 mx-4 mb-5 text-center">Create New Deck</h1>
    <div asp-validation-summary="All" class="text-danger"></div> <!--Display summary of validation problems.-->
    <form asp-action="CreateDeck" class="deck-form">
        <div class="form-group">
            <input type="hidden" asp-for="FlashcardUserId" value="@ViewBag.AdditionalData" />
            <label asp-for="Title"></label><span class="text-danger">*</span>
            
            <input asp-for="Title" class="form-control mt-2 mb-3" />
                
            <span asp-validation-for="Title" class="text-danger"></span>
            <label asp-for="Description"></label>
            
            <input asp-for="Description" class="form-control mt-2" />
                
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-buttons-container">
            <button type="submit" class="btn btn-primary mt-5 m-2">Create</button>
            <a asp-action="BrowseDecks" class="btn btn-secondary mt-5 m-2">Cancel</a>
        </div>
    </form>
</section>
