@model Deck

<h2>Create New Deck</h2>

<div asp-validation-summary="All" class="text-danger"></div> <!--Display summary of validation problems.-->

<form asp-action="CreateDeck">
    <div class="form-group">
        <input type="hidden" asp-for="FlashcardUserId" value="@ViewBag.AdditionalData" />
        <label asp-for="Title"></label><span class="text-danger">*</span>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Browse" class="btn btn-secondary">Cancel</a>
</form>
