@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="login-form-section">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-10 mt-2">
            <div class="card login-logout-card mx-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Login">
                                Log In
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Register">
                                Register
                            </a>    
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class=" col-xl-8 col-lg-9 col-md-10 col-sm-10 col-10 my-3">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {     //comparing current element with atribute that provided on the line 16 href
                    $this.addClass('active');
                }
            })
        })  //So this will highlight the respective tab header     
    </script>   
}