@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmed!";
}

<section class="email-confirm-section">
    <h1 class="fs-4 mx-4 mb-5 text-center">@ViewData["Title"]</h1>
    <div class="mt-5">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>  
</section>