/** {
    box-sizing: border-box;
}
*/

.empty-deck-image{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .empty-deck-image img {
        width: 250px;
        height: 300px;
        margin-top: 20px;
    }

.card {
    width: 550px;
    border-radius: 25px;
    background-color: #fffaf0;
}

.carousel-inner{
    margin-top: 0;
    background-color: transparent;
}

.card-body align-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.btn.btn-secondary {
    border: none;
    font-size: 16px;
    color: #FFF;
    background-color: peru;
    border-radius: 0.85rem;
    margin: 14px;
}

/* Sound icon button */
.btn.btn-primary.speech-button-answer {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-container {
    position: relative;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.inspect-card-button .btn.btn-secondary {
    margin:0;
    position: absolute;
    font-size: 14px;
    bottom: 40px; 
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    border-radius: 4px;
}

.carousel-item {
    padding: 10px;
    width: 100%; /* Set a fixed width (100% ensures each item takes up the full width of the carousel container) */
    overflow: hidden;
    height: 50%;
    justify-content: center;
}
/* Styles for the carousel navigation buttons */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%; 
    font-size: 24px; 
    color: black; 
    transform: translateY(-50%);
    width: 50px; 
    height: 50px; 
    margin-top:20px;
    margin-bottom: 20px;
    
}
.carousel-control-prev {
    margin-left: -39px;
}
.carousel-control-next {
    margin-right: -39px; 
}


/*pagination*/

.p-obj {
 
    bottom: 20%;
    
}

.n-obj {

    bottom: 20%; /* Adjust the distance from the bottom as needed */
   
}
