* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }

    .section-intro {
        padding: 60px 5vw;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Prompt',sans-serif;
    color: #712c66;
    background: #FFFAF0;
    overflow-x: hidden;
    /*****/
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: calc(1.375rem + 1.1vw);
}


/* Index page and animation realted to it */

.section-intro {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 400px;
    width: 100%;
    max-width: 1200px; /* to avoid stretched text on bg screens*/
    margin: 0 auto;
    padding: 60px 5vw;
}

#visual {
    /*display: block;*/
    width: 100%;
    height: auto;
}

@keyframes move-up {
    0% {
        transform: translateY(2) scale(1);
    }

    50% {
        transform: translateY(-5px) scale(1.5);
    }

    100% {
        transform: translateY(2) scale(1);
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0) scale(1);
    }

    50% {
        transform: translateY(10px) scale(1.2);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

#orange {
    animation: move-up 22s infinite;
}

#red {
    animation: move-down 22s infinite;
}


/* Custom buttons modifications using Bootstrap classes */

.btn {
    border-radius: 0.85rem;
}

.btn-primary {
    background: linear-gradient(45deg, #543770, #543770);
    border: none;
    /*border-color: #543770;*/
    transition: background-color 0.3s ease, transform 0.2s ease;
}
    .btn-primary:hover {
        color: #fff;
        /*border-color: #cc3557;*/
        border: none;
        background: linear-gradient(45deg, #a22c65, #cc3557);
        transform: scale(1.05);
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #cc3557;
        /*border-color: #cc3557;*/
        border: none;
        box-shadow: 0 0 0 0.25rem rgba(234, 80, 62, 0.5) !important;
    }

    .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #543770;
        border-color: #cc3557;      
    }

.btn-secondary {
    background: linear-gradient(45deg, #6c757d, #6c757d);
    /*border-color: #6c757d;*/
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .btn-secondary:hover {
        color: #fff;
        /*border-color: #cc3557;*/
        border: none;
        background: linear-gradient(45deg, #a22c65, #cc3557);
        transform: scale(1.05);
    }

    .btn-check:focus + .btn-secondary, .btn-secondary:focus {
        color: #fff;
        background-color: #5c636a;
        /*border-color: #565e64;*/
        border: none;
        box-shadow: 0 0 0 0.25rem rgba(234, 80, 62, 0.5) !important;
    }

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #fb25c9;
}


/* part of Cat animation*/

.blob-motion {
    width: 100%;
    max-width: 800px;
    height: auto;
    position: absolute;
    transform: translateY(-70%);
    z-index: 0;
    margin: 10px;
}

.blob-content {
    z-index: 1;
}


/* Login form */

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6123a8;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(234, 80, 62, 0.25);
}

.form-check-input:focus {
    border-color: #6123a8;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(234, 80, 62, 0.25);
}

.form-check-input:checked {
    background-color: #543770;
    border-color: #543770;
}



/* Tab navigation */
.login-logout-card .card-header{
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs{
    margin: 0px 0px -12px 0px;
}

.login-logout-card li.nav-item {
    width: 50%;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding:10px 20px;
}


/* Custom styles for the carousel */
.carousel-inner {
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px; /* Adds padding inside carousel items */
}

.card-body-f {
    padding: 1.25rem;
}


/* Styles for carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
    color: #000;
    font-size: 24px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-control-prev {
    left: 30px;
}

.carousel-control-next {
    right: 30px;
}


/* Styles for carousel indicators */
.carousel-indicators {
    margin-bottom: 20px;
}

    .carousel-indicators button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #007bff;
    }

    .carousel-indicators .active {
        background-color: #0056b3;
    }


/* Modifications for deck create form */

.deck-form {   
   
    min-height: 80vh;
}


/* Animations on user landing page */

.stage {
    background-image: url('images/stage-curtains (2).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.cat-container {
    height: 200px;
    width: 350px;
    position: relative;
    transform: translate(-50%, 100%);
    left: 48%;
    bottom: 0;
}

.cat {
    background-color: #f7770f;
    height: 65px;
    width: 80px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    bottom: 60px;
    right: 50px;
}

.ear {
    height: 15px;
    width: 15px;
    background-color: #f7770f;
    position: absolute;
    bottom: 64px;
    left: 8px;
    border-radius: 20px 0 0 0;
    box-shadow: 25px 0 #f7770f;
}

.eye,
.eye:before {
    height: 7px;
    width: 10px;
    border: 2px solid #2c2c2c;
    position: absolute;
    border-radius: 0 0 15px 15px;
    border-top: none;
}

.eye {
    top: 18px;
    left: 15px;
}

    .eye:before {
        content: "";
        left: 30px;
    }

.nose {
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 25px;
    box-shadow: 12px 0 #ffffff;

}

    .nose:before {
        content: "";
        width: 12px;
        height: 8px;
        position: absolute;
        background-color: #ffffff;
        left: 6px;
    }

    .nose:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 8px solid #ef926b;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        bottom: 7px;
        left: 6px;
    }

.mouth {
    height: 15px;
    width: 17px;
    background-color: #2c2c2c;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 38px;
    left: 27px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}

@keyframes mouth-move{
    50%{
        transform: scaleY(0.7);
    }
}

.cat-body {
    background-color: #f7770f;
    height: 90px;
    width: 140px;
    position: absolute;
    right: 65px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: sleep 2s infinite;
    transform-origin: bottom right;
}

@keyframes sleep{
    50% {
        transform: scale(0.9, 1.05);
    }
}

.tail {
    background-color: #d07219;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px ;
}

.cat-body:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 12px;
    width: 30px;
    left: 22px;
    bottom: 0;
    border-radius: 6px;
    box-shadow: 45px 0 #ffffff;
}

.cat-bubble {
    height: 20px;
    width: 20px;
    background-color: rgba(225, 255, 255, 0.4);
    position: absolute;
    top: 20px;
    left: 65px;
    border-radius: 50px 50px 50px 5px;
    animation: bubble-scale 2s infinite;
}

@keyframes bubble-scale {
    50% {
        transform: scale(1.6);
    }
}

.cat-shadow {
    height: 10px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    bottom: 52px;
    left: 60px;
    animation: shadow 2s infinite;
}

@keyframes shadow {
    50% {
        transform: scaleX(0.7);
    }
}
