@{
    ViewData["Title"] = "User home page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        body {
            background-color: #192040;
        }
    </style>
}
}
<h1 class=" text-center mb-5 fs-4 font-weight-bold text-white">Ready to practice?</h1>
<div class="stage">
    <div class="cat-container">
        <div class="cat-shadow"></div>
        <div class="cat">
            <div class="ear"></div>
            <div class="eye"></div>
            <div class="mouth"></div>
            <div class="nose"></div>
            <div class="tail"></div>
            <div class="cat-body"></div>
            <div class="cat-bubble"></div>
        </div>
    </div>
</div>