@model Flashcard
@section Styles{
    <link rel="stylesheet" href="~/css/style.css" />
}

<div class="card">
    <div class="card-body align-content-center">
        <p class="card-text">Question:@Model.Question</p>
        <p class="card-text">Answer:@Model.Answer</p>
        <p class="card-text">Notes:@Model.Notes</p>
    </div>
</div>
@{
    if(Model.Deck != null && Model.Deck.FlashcardUserId != "demo")
    {
        <a class="btn btn-secondary" asp-controller="Flashcard" asp-action="UpdateFlashcard" asp-route-id="@Model.FlashcardId">Edit the card</a>
        <a class="btn btn-danger" asp-controller="Flashcard" asp-action="DeleteFlashcard" asp-route-id="@Model.FlashcardId">Delete the card</a>
    }
}
<a class="btn btn-primary" asp-action="BrowseFlashcards" asp-route-deckId="@Model.DeckId">Browse other cards</a>