@model Flashcard
@section Styles{
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
}

<div class="card">
    <div class="card-body align-content-center">
        <p class="card-text">Question:@Model.Question</p>
        <p class="card-text">Answer:@Model.Answer</p>
        <p class="card-text">Notes:@Model.Notes</p>
        @if (Model.IsLanguageFlashcard)
        {
            <button class="btn btn-primary speech-button-answer" data-answer="@Model.Answer">
                <i class="fas fa-volume-up"></i>
            </button>
        }
    </div>
</div>
@{
    if(Model.Deck != null && Model.Deck.FlashcardUserId != "demo")
    {
        <div class="form-buttons-container">
            <a class="btn btn-secondary mt-5 mb-3 m-2" asp-controller="Flashcard" asp-action="UpdateFlashcard" asp-route-id="@Model.FlashcardId">Edit the card</a>
            <a class="btn btn-danger mt-5 mb-3 m-2" asp-controller="Flashcard" asp-action="DeleteFlashcard" asp-route-id="@Model.FlashcardId">Delete the card</a>
        </div>
    }
}
<a class="btn btn-primary mx-5 mt-5" asp-action="BrowseFlashcards" asp-route-deckId="@Model.DeckId">Browse other cards</a>