@model Flashcard

<h2>Update Item</h2>

<form asp-action="UpdateFlashcard">
    <input type="hidden" asp-for="FlashcardId" />
    <input type="hidden" asp-for="DeckId" />
    <input type="hidden" asp-for="Deck" />
    <div class="form-group">
        <label>Do you want text-to-speech to be available for this card:</label>
        <div class="form-check">
            <label class="form-check-label" for="IsLanguageFlashcard">Language Flashcard</label>
            <input class="form-check-input" type="radio" asp-for="IsLanguageFlashcard" value="true" 
                checked="@Model.IsLanguageFlashcard" required/>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="IsLanguageFlashcard">Non-Language Flashcard</label>
            <input class="form-check-input" type="radio" asp-for="IsLanguageFlashcard" value="false"
                    checked="@(!Model.IsLanguageFlashcard)" required/>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Question"></label><span class="text-danger">*</span>
        <input asp-for="Question" class="form-control" />
        <span asp-validation-for="Question" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Answer"></label><span class="text-danger">*</span>
        <input asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Notes"></label>
        <input asp-for="Notes" class="form-control" />
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-controller="Flashcard" asp-action="Details" asp-route-id="@Model.FlashcardId" class="btn btn-secondary">Cancel</a>
</form>
