@using Microsoft.AspNetCore.Identity;
@inject SignInManager<FlashcardsUser> SignInManager
@inject UserManager<FlashcardsUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flashcards</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet"><!--font-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CFlashcards.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/svg" href="~/css/images/catIcon.svg">
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/css/images/catIcon.svg" alt="Flashcards Logo" width="20" height="20" />
                    Flashcards
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            if (SignInManager.IsSignedIn(User)) // Check if user is signed in.
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Deck" asp-action="BrowseDecks">Decks</a>
                                </li>
                                if (User.IsInRole("admin"))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="UserTable">UserTable</a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Demo" asp-action="Demo">Demo</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <svg id="waves-top"
             viewBox="0 0 960 170"
             width="960"
             height="170"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             version="1.1">
            <path class="red" d="M0 73L22.8 76.2C45.7 79.3 91.3 85.7 137 87.8C182.7 90 228.3 88 274 86.3C319.7 84.7 365.3 83.3 411.2 79.8C457 76.3 503 70.7 548.8 70.2C594.7 69.7 640.3 74.3 686 76.5C731.7 78.7 777.3 78.3 823 75.8C868.7 73.3 914.3 68.7 937.2 66.3L960 64L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#f7770f"></path>
            <path class="orange" d="M0 76L22.8 75.2C45.7 74.3 91.3 72.7 137 70.5C182.7 68.3 228.3 65.7 274 66.2C319.7 66.7 365.3 70.3 411.2 74C457 77.7 503 81.3 548.8 83C594.7 84.7 640.3 84.3 686 81.3C731.7 78.3 777.3 72.7 823 71.2C868.7 69.7 914.3 72.3 937.2 73.7L960 75L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#ea503e"></path>
            <path class="red" d="M0 61L22.8 58.8C45.7 56.7 91.3 52.3 137 53.3C182.7 54.3 228.3 60.7 274 64.7C319.7 68.7 365.3 70.3 411.2 71.7C457 73 503 74 548.8 71C594.7 68 640.3 61 686 58.8C731.7 56.7 777.3 59.3 823 59C868.7 58.7 914.3 55.3 937.2 53.7L960 52L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#cc3557"></path>
            <path class="orange" d="M0 40L22.8 42.3C45.7 44.7 91.3 49.3 137 53.5C182.7 57.7 228.3 61.3 274 62.2C319.7 63 365.3 61 411.2 56.7C457 52.3 503 45.7 548.8 46.5C594.7 47.3 640.3 55.7 686 56.8C731.7 58 777.3 52 823 50.2C868.7 48.3 914.3 50.7 937.2 51.8L960 53L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#a22c65"></path>
            <path class="red" d="M0 34L22.8 34.7C45.7 35.3 91.3 36.7 137 36.8C182.7 37 228.3 36 274 37.7C319.7 39.3 365.3 43.7 411.2 43.2C457 42.7 503 37.3 548.8 35C594.7 32.7 640.3 33.3 686 34.7C731.7 36 777.3 38 823 37.7C868.7 37.3 914.3 34.7 937.2 33.3L960 32L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#712c66"></path>
            <path class="orange" d="M0 25L22.8 26.8C45.7 28.7 91.3 32.3 137 34.5C182.7 36.7 228.3 37.3 274 36.8C319.7 36.3 365.3 34.7 411.2 33.3C457 32 503 31 548.8 31.3C594.7 31.7 640.3 33.3 686 32.3C731.7 31.3 777.3 27.7 823 27.8C868.7 28 914.3 32 937.2 34L960 36L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#412958"></path>
            <path class="red" d="M0 29L22.8 28.5C45.7 28 91.3 27 137 24.8C182.7 22.7 228.3 19.3 274 19.8C319.7 20.3 365.3 24.7 411.2 25.7C457 26.7 503 24.3 548.8 23.7C594.7 23 640.3 24 686 24.5C731.7 25 777.3 25 823 24.7C868.7 24.3 914.3 23.7 937.2 23.3L960 23L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#192040"></path>
            <path class="orange" d="M0 14L22.8 12.8C45.7 11.7 91.3 9.3 137 9.3C182.7 9.3 228.3 11.7 274 13.2C319.7 14.7 365.3 15.3 411.2 15.7C457 16 503 16 548.8 14.8C594.7 13.7 640.3 11.3 686 9.8C731.7 8.3 777.3 7.7 823 8.7C868.7 9.7 914.3 12.3 937.2 13.7L960 15L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z" fill="#001122"></path>
        </svg>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <main role="main" class="pb-5">
                @RenderBody()
            </main>
        </div>
    </div>
    <div class="footer-container">
        <svg id="waves-bottom"
             viewBox="0 0 960 150"
             width="960"
             height="150"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             version="1.1">
            <path class="red" d="M0 75L22.8 71.8C45.7 68.7 91.3 62.3 137 60.2C182.7 58 228.3 60 274 61.7C319.7 63.3 365.3 64.7 411.2 68.2C457 71.7 503 77.3 548.8 77.8C594.7 78.3 640.3 73.7 686 71.5C731.7 69.3 777.3 69.7 823 72.2C868.7 74.7 914.3 79.3 937.2 81.7L960 84L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#f7770f"></path>
            <path class="orange" d="M0 72L22.8 72.8C45.7 73.7 91.3 75.3 137 77.5C182.7 79.7 228.3 82.3 274 81.8C319.7 81.3 365.3 77.7 411.2 74C457 70.3 503 66.7 548.8 65C594.7 63.3 640.3 63.7 686 66.7C731.7 69.7 777.3 75.3 823 76.8C868.7 78.3 914.3 75.7 937.2 74.3L960 73L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#ea503e"></path>
            <path class="red" d="M0 87L22.8 89.2C45.7 91.3 91.3 95.7 137 94.7C182.7 93.7 228.3 87.3 274 83.3C319.7 79.3 365.3 77.7 411.2 76.3C457 75 503 74 548.8 77C594.7 80 640.3 87 686 89.2C731.7 91.3 777.3 88.7 823 89C868.7 89.3 914.3 92.7 937.2 94.3L960 96L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#cc3557"></path>
            <path class="orange" d="M0 108L22.8 105.7C45.7 103.3 91.3 98.7 137 94.5C182.7 90.3 228.3 86.7 274 85.8C319.7 85 365.3 87 411.2 91.3C457 95.7 503 102.3 548.8 101.5C594.7 100.7 640.3 92.3 686 91.2C731.7 90 777.3 96 823 97.8C868.7 99.7 914.3 97.3 937.2 96.2L960 95L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#a22c65"></path>
            <path class="red" d="M0 114L22.8 113.3C45.7 112.7 91.3 111.3 137 111.2C182.7 111 228.3 112 274 110.3C319.7 108.7 365.3 104.3 411.2 104.8C457 105.3 503 110.7 548.8 113C594.7 115.3 640.3 114.7 686 113.3C731.7 112 777.3 110 823 110.3C868.7 110.7 914.3 113.3 937.2 114.7L960 116L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#712c66"></path>
            <path class="orange" d="M0 123L22.8 121.2C45.7 119.3 91.3 115.7 137 113.5C182.7 111.3 228.3 110.7 274 111.2C319.7 111.7 365.3 113.3 411.2 114.7C457 116 503 117 548.8 116.7C594.7 116.3 640.3 114.7 686 115.7C731.7 116.7 777.3 120.3 823 120.2C868.7 120 914.3 116 937.2 114L960 112L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#412958"></path>
            <path class="red" d="M0 119L22.8 119.5C45.7 120 91.3 121 137 123.2C182.7 125.3 228.3 128.7 274 128.2C319.7 127.7 365.3 123.3 411.2 122.3C457 121.3 503 123.7 548.8 124.3C594.7 125 640.3 124 686 123.5C731.7 123 777.3 123 823 123.3C868.7 123.7 914.3 124.3 937.2 124.7L960 125L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#192040"></path>
            <path class="orange" d="M0 134L22.8 135.2C45.7 136.3 91.3 138.7 137 138.7C182.7 138.7 228.3 136.3 274 134.8C319.7 133.3 365.3 132.7 411.2 132.3C457 132 503 132 548.8 133.2C594.7 134.3 640.3 136.7 686 138.2C731.7 139.7 777.3 140.3 823 139.3C868.7 138.3 914.3 135.7 937.2 134.3L960 133L960 151L937.2 151C914.3 151 868.7 151 823 151C777.3 151 731.7 151 686 151C640.3 151 594.7 151 548.8 151C503 151 457 151 411.2 151C365.3 151 319.7 151 274 151C228.3 151 182.7 151 137 151C91.3 151 45.7 151 22.8 151L0 151Z" fill="#001122"></path>
        </svg>
    </div>
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - CFlashcards - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script> <!--JQuery-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> <!--Bootstrap-->
    <script src="~/lib/jquery-validate/jquery.validate.js"></script> <!--Validation-->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> <!--Validation-->
    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.4/dist/kute.min.js"></script> <!--KUTE.js animation-->
    <script src="~/js/site.js" asp-append-version="true"></script> <!--Site.js-->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>