@using Microsoft.AspNetCore.Identity
@using CFlashcards.Models

@inject SignInManager<FlashcardsUser> SignInManager
@inject UserManager<FlashcardsUser> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User)) //if the user is loged in, user's email adress and logout button will be shown
    {
        var user = await UserManager.GetUserAsync(User);
        if (user != null)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @user.NickName!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0">Logout</button>
                </form>
            </li>
        }
    }
</ul>

